<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AnotherJiraRestClient-Ruskin" version="0.0.9" targetFramework="net47" />
  <package id="Autofac" version="4.6.2" targetFramework="net47" />
  <package id="FluentCommandLineParser" version="1.4.3" targetFramework="net462" />
  <package id="JetBrains.Annotations" version="11.0.0" targetFramework="net47" />
  <package id="NLog" version="4.4.12" targetFramework="net47" />
  <package id="NLogInjector" version="0.0.14" targetFramework="net47" />
  <package id="OctoPack" version="3.6.1" targetFramework="net47" developmentDependency="true" />
  <package id="RestSharp" version="105.2.3" targetFramework="net462" />
  <package id="RuskinDantra.Extensions" version="1.0.46" targetFramework="net47" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net47" />
</packages>