<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AnotherJiraRestClient-Ruskin" version="0.0.7" targetFramework="net452" />
  <package id="Autofac" version="3.5.2" targetFramework="net452" />
  <package id="FluentCommandLineParser" version="1.4.3" targetFramework="net452" />
  <package id="JetBrains.Annotations" version="10.1.4" targetFramework="net452" />
  <package id="NLog" version="4.3.5" targetFramework="net452" />
  <package id="NLogInjector" version="0.0.4" targetFramework="net452" />
  <package id="RestSharp" version="105.2.3" targetFramework="net452" />
  <package id="RuskinDantra.Extensions" version="1.0.41" targetFramework="net452" />
  <package id="System.Runtime" version="4.0.0" targetFramework="net452" />
</packages>